name: flutter_fuels
description: Flutter Plugin for Fuel SDK
version: 0.0.15+1
homepage: https://github.com/Fuelet/fuels-dart/tree/main/packages/flutter_fuels

environment:
  sdk: '>=2.18.6 <3.0.0'
  flutter: ">=2.11.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  fuels: ^1.9.1
  js: ^0.6.5
dev_dependencies:
  flutter_lints: ^2.0.0

flutter:
  assets:
    - packages/flutter_fuels/js/wallet.js
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
      web:
        pluginClass: JsWalletInjector
        fileName: js_wallet_injector.dart
