name: Publish Github release

on: workflow_call

jobs:
  build_apple:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: Extract package version from the tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Print the extracted version
        run: echo $RELEASE_VERSION
      - uses: subosito/flutter-action@v2
      - uses: bluefireteam/melos-action@v2
        with:
          melos-version: '2.9.0'
      - uses: goto-bus-stop/setup-zig@v2
      - uses: KyleMayes/install-llvm-action@v1
        with:
          version: "15"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build apple binary
        run: melos run build:apple

      - name: Uploading artifact
        uses: actions/upload-artifact@v3
        with:
          name: apple_binary
          path: platform-build/FlutterFuels.xcframework.zip

  build_android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Extract package version from the tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Print the extracted version
        run: echo $RELEASE_VERSION
      - uses: subosito/flutter-action@v2
      - uses: bluefireteam/melos-action@v2
      - uses: goto-bus-stop/setup-zig@v2
      - uses: KyleMayes/install-llvm-action@v1
        with:
          version: "15"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25b

      - name: Build android binary
        run: melos run build:android

      - name: Uploading artifact
        uses: actions/upload-artifact@v3
        with:
          name: android_binary
          path: platform-build/android.tar.gz

  publish_github_release:
    runs-on: ubuntu-latest
    needs: [ build_apple, build_android ]
    steps:
      - uses: actions/checkout@v3

      - name: Download apple binary
        uses: actions/download-artifact@v3
        with:
          name: apple_binary
          path: platform-build

      - name: Download android binary
        uses: actions/download-artifact@v3
        with:
          name: android_binary
          path: platform-build

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{env.RELEASE_VERSION}}
          files: platform-build/*
